/* navbar */
nav {
  padding: 0.5rem 0rem;

  display: flex;
  align-items: center;
}

nav div {
  margin: 0px 20px;
}

nav .logo {
  font-size: 2rem;
  font-weight: 500;
  color: var(--color-text-highlight);
}

nav .links a {
  margin: 0px 10px;
}

nav .links .link img {
  height: 25px;

  filter: invert(0.7);
}

nav .links .link img:hover {
  filter: invert(1);
}

/* nav-controls */
header .nav-controls-wrapper {
  display: flex;
  justify-content: center;
}

header .nav-controls {
  border-radius: 0.4rem;
  padding: 0.5rem 1rem;
  background: var(--color-nav-controls-bg);
  display: flex;
  flex-direction: row;
  justify-content: center;
}


header .nav-controls-wrapper .nav-controls .mode button,
header .nav-controls-wrapper .nav-controls .mode-details div button {
  margin: 0px 10px;
}

header .timeicon,
header .wordicon {
  height: 12px;
  filter: invert(0.6);
}